body {
  background-image: url("background.png");
  font-size: 20px;
  background: cover;
  overflow-x: hidden;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  scroll-behavior: smooth;
  background-repeat: no-repeat;
  background-color: lightgray;
}
.header {
  position: fixed;
  background: blue;
  color: white;
  font-size: 1.8em;
  font-weight: 1000;
  letter-spacing: 2px;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px;
  text-align: center;
  cursor: default;
  box-shadow: 0 0 5px black;
  z-index: 999999;
}
.join {
  position: fixed;
  right: 15px;
  top: 12px;
  padding: 10px;
  border-radius: 10px;
  font-size: 0.5em;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.1);
  transition: 0.5s;
  color: white;
  text-decoration: none;
}
.join:hover {
  transform: scale(1.1);
  background: rgba(0, 0, 0, 0.2);
}
.create {
  position: fixed;
  left: 75px;
  top: 12px;
  padding: 10px;
  border-radius: 10px;
  font-size: 0.5em;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.1);
  transition: 0.5s;
  color: white;
  text-decoration: none;
}
.create:hover {
  transform: scale(1.1);
  background: rgba(0, 0, 0, 0.2);
}
.title {
  display: block;
  font-size: 300%;
  color: white;
  font-weight: 1000;
  letter-spacing: 2px;
  text-align: center;
  padding: 1% 1%;
}
.input {
  background: white;
  border: white 2px;
  border-radius: 4px;
  display: block;
  font-size: 200%;
  font-weight: 1000;
  letter-spacing: 2px;
  text-align: center;
  color: black;
  width: 50%;
  margin: auto;
  margin-top: 6%;
}
.gamecode {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 70%;
  height: fit-content;
  background: lightgray;
  border-radius: 10px;
}
.invalid {
  position: relative;
  color: red;
  text-align: center;
}
.submit {
  display: block;
  border: blue 2px;
  border-radius: 10px;
  font-size: 150%;
  font-weight: 1000;
  letter-spacing: 2px;
  cursor: pointer;
  color: white;
  background: blue;
  transition: 0.5s;
  margin: auto;
  margin-top: 5%;
}
.submit:hover {
  font-size: 120%;
}
.icon {
  position: fixed;
  top: 5px;
  left: 5px;
  width: 60px;
  height: auto;
  z-index: 9999999;
  cursor: pointer;
}
.addQuestion {
  position: absolute;
  top: 110px;
  left: 20px;
  width: 80px;
  height: 80px;
  text-align: center;
  background: blue;
  border: 2px black;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s;
  color: white;
  font-weight: 1000;
  letter-spacing: 2px;
  font-size: 300%;
  z-index: 1;
}
.addQuestion:hover {
  transform: scale(1.1) rotate(360deg);
}
.createQuestion {
  width: fit-content;
  height: fit-content;
  z-index: -1;
  background: rgba(17, 0, 255, 0.2);
  border-radius: 20px;
  opacity: 0;
  transition: 1s;
  display: block;
  margin-top: -100px;
  margin-left: 15px;
  padding: 15px;
  overflow-x: hidden;
  backdrop-filter: blur(5px);
  border: rgba(0, 0, 0, 0.1);
}
.submitQuestion {
  display: block;
  opacity: 0;
  width: fit-content;
  padding: 5px;
  background: blue;
  border-radius: 10px;
  color: white;
  font-size: 150%;
  font-weight: 1000;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.2s;
  border: 0px white;
  margin-bottom: 5px;
  margin-left: 15px;
  text-align: center
}
.submitQuestion:hover {
  transform: scale(0.95);
}
.label {
  color: white;
  font-size: 120%;
  font-weight: 1000;
  letter-spacing: 2px;
  width: auto;
  display: block;
}
.a, .q {
  border: 2px white;
  border-radius: 4px;
}
.questionDisplay {
  background-color: rgba(255, 255, 255, .2);
  color: #ffffff;
  min-height: 30%;
  font-weight: 1000;
  letter-spacing: 2px;
  border-radius: 10px;
  padding: 15px;
  transition: 0.2s;
  font-size: 1.2em;
  cursor: pointer;
  margin-top: 25px;
  margin-left: 15px;
  display: inline-block;
}
.questionDisplay hr {
  min-width: 20%;
  margin-left: 0;
}
.questionDisplay:hover {
  transform: scale(0.95);
  background: lightgray;
  background-color: rgba(255, 255, 255, .15);  
  backdrop-filter: blur(5px);
}